In [1]:
import pandas as pd

In [4]:
#DataFrame()함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [90,80,70], '영어' : [98,89,95],
            '음악' : [85,95,100], '체육' : [100,90,90]} 

df = pd.DataFrame(exam_data,index = ['서준','우현','인아'])
print(df,'\n')

#행 인덱스를 사용하여 행 1개를 선택
label1 = df.loc['서준']
position1= df.iloc[0]
print(label1,'\n')
print(position1,'\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [6]:
#행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[['서준','우현']]
position2 = df.iloc[[0,1]]
print(label2,'\n')
print(position2,'\n')

#행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]
print(label3,'\n')
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100

In [8]:
#DataFrame() 함수로 데이터프레임 변환. 변수df에 저장
exam_data = {'이름':['서준','우현','인아'],
             '수학' : [90,80,70],
             '영어' : [98,89,95],
             '음악' : [85,95,100],
             '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df,'\n')
print(type(df),'\n')

#'수학' 점수 데이터만 선택 . 변수 math1에 저장
math1 = df['수학']
print(math1,'\n')
print(type(math1),'\n')

#'수학' 점수 데이터만 선택. 변수math1에 저장
math1 = df['수학']
print(math1,'\n')
print(type(math1),'\n')

#'영어' 점수 데이터만 선택. 변수 english에 저장
english = df.영어
print(english,'\n')
print(type(english),'\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

<class 'pandas.core.frame.DataFrame'>

0    90
1    80
2    70
Name: 수학, dtype: int64

<class 'pandas.core.series.Series'>

0    90
1    80
2    70
Name: 수학, dtype: int64

<class 'pandas.core.series.Series'>

0    98
1    89
2    95
Name: 영어, dtype: int64

<class 'pandas.core.series.Series'>

In [9]:
#'음악', '체육' 점수 데이터를 선택. 변수music_gym에 저장
music_gym = df[['음악','체육']]
print(music_gym,'\n')
print(type(music_gym),'\n')

#'수학' 점수 데이터만 선택. 변수math2에 저장
math2 = df[['수학']]
print(math2,'\n')
print(type(math2))

    음악   체육
0   85  100
1   95   90
2  100   90

<class 'pandas.core.frame.DataFrame'>

   수학
0  90
1  80
2  70

<class 'pandas.core.frame.DataFrame'>

In [10]:
math2 = df['수학']
print(math2,'\n')
print(type(math2))

0    90
1    80
2    70
Name: 수학, dtype: int64

<class 'pandas.core.series.Series'>