In [1]:
import pandas as pd

In [2]:
dept = pd.read_csv('C:/_WsHongik20210507/data/deptDB.csv' ,names = ['deptno','dname','loc'],header=None)

In [4]:
sawon = pd.read_csv('./data/sawonDB.csv',names = ['sabun','saname','deptno','sajob','sapay','sahire','sasex','samgr'],header=None)

In [5]:
gogek = pd.read_csv("./data/gogekDB.csv",names = ['gobun','goname','gotel','gojumin','godam'],header=None)

In [7]:
dept =dept.replace('\'','',regex=True)

In [8]:
sawon = sawon.replace('\'','',regex=True)

In [9]:
#문제 3] sawonDB 데이터에서 사원번호가 짝수인 사람만 출력하시오.
a = sawon[sawon['sabun']%2 == 0]
print(a)

    sabun saname  deptno sajob  sapay       sahire sasex samgr
1       2    한국남      20    부장   3000   1988/11/01    남자     1
6      14    채시라      20    사원   3400   1993/10/01    여자     3
10     20    깨똥이      10    과장   4500   1990/05/01    남자    13
11      6    공부만      30    과장   4003   1995/05/01    남자    17
12      8    채송화      30    대리   1703   1992/06/01    여자    17
13      4    이미라      30    대리   2503   1983/04/01    여자    17
14     10    공부해      30    사원   1303   1988/11/01    남자     4
15     12    뷰명한      10    대리   1800   1990/10/01    남자    20
18     16    김유신      30    사원    400   1981/04/01    남자     4
19     18    강감찬      30    사원   1003   1986/07/01    남자     4