In [4]:
import pandas as pd

In [5]:
deptDB = pd.read_csv('./data/deptDB.csv',header = None)
sawonDB= pd.read_csv('./data/sawonDB.csv',header = None)
gogekDB= pd.read_csv('./data/gogekDB.csv',header = None)

deptDB.columns=['deptno','dname','loc']

sawonDB.columns=['sabun','saname','deptno','sajob','sapay','sahire','sasex','samgr']

gogekDB.columns=['gobun','goname','gotel','gojumin','godam']

deptDB = deptDB.replace("'","",regex=True)
sawonDB = sawonDB.replace("'","",regex=True)
gogekDB = gogekDB.replace("'","",regex=True)

deptDB.head()

   deptno dname  loc
0      10   총무부   서울
1      20   영업부   대전
2      30   전산부   부산
3      40   관리부   광주