In [1]:
import pandas as pd
import seaborn as sns

In [3]:
#1.행렬정보 확인
titanic = sns.load_dataset('titanic')
print('='*40,'head','='*40)
print(titanic.head())
print('='*40,'head','='*40)
print(titanic.tail())
print('='*40,'head','='*40)
print(titanic.shape)
print('='*40,'head','='*40)
print(titanic.info())

======================================== head ========================================
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
======================================== head ========================================
     survived  pclass     sex   age  sibsp  parch   fare embarked   class  \
886         0       2    male  27.0      0      0  13.00        S  Second
887         1       1  female  19.0      0      0  30.00        S   First
888         0       3  female   NaN      1      2  23.45        S   Third
889         1       1    male  26.0      0      0  30.00        C   First
890         0       3    male  32.0      0      0   7.75        Q   Third

       who  adult_male deck  embark_town alive  alone
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True
======================================== head ========================================
(891, 15)
======================================== head ========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [4]:
titanic['survived'].unique()

array([0, 1], dtype=int64)

In [5]:
titanic['sex'].unique()

array(['male', 'female'], dtype=object)

In [6]:
#5. 성별 생존률의 개수

q5_survived_cnt = titanic[titanic['survived']==1]

q5_survived_cnt.groupby('sex')['survived'].count()

sex
female    233
male      109
Name: survived, dtype: int64