In [1]:
import pandas as pd

In [2]:
dept = pd.read_csv('C:/_WsHongik20210507/data/deptDB.csv' ,names = ['deptno','dname','loc'],header=None)

In [16]:
sawonDB = pd.read_csv('./data/sawonDB.csv',names = ['sabun','saname','deptno','sajob','sapay','sahire','sasex','samgr'],header=None)

In [5]:
gogek = pd.read_csv("./data/gogekDB.csv",names = ['gobun','goname','gotel','gojumin','godam'],header=None)

In [6]:
dept =dept.replace('\'','',regex=True)

In [13]:
sawonDB = sawon.replace('\'','',regex=True)

In [22]:
#문제 7] sawon 데이터에서 전산부 직원의 평균연봉 출력
a = sawon[sawon['deptno']==30]
# b = a.groupby('deptno')
print("전산부 직원의 평균 연봉 : ",a['sapay'].mean())

전산부 직원의 평균 연봉 :  1959.7142857142858