In [1]:
import pandas as pd
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')

In [5]:
ages = list(range(0,90,10))
for x in ages:
    start = x
    end = x+10
    ageTemp = titanic[(titanic['age']>= start)&(titanic['age']<end)]
    print(ageTemp['sex'][ageTemp['survived']==0].count(),ageTemp['sex'][ageTemp['survived']==1].count())
    print("{}세 이상 - {}세 미만 사망자수: {}".format(start,end,(ageTemp['sex'][ageTemp['survived']==1].count())))

24 38
0세 이상 - 10세 미만 사망자수: 38
61 41
10세 이상 - 20세 미만 사망자수: 41
143 77
20세 이상 - 30세 미만 사망자수: 77
94 73
30세 이상 - 40세 미만 사망자수: 73
55 34
40세 이상 - 50세 미만 사망자수: 34
28 20
50세 이상 - 60세 미만 사망자수: 20
13 6
60세 이상 - 70세 미만 사망자수: 6
6 0
70세 이상 - 80세 미만 사망자수: 0
0 1
80세 이상 - 90세 미만 사망자수: 1